pyttsx3
ffmpeg-python
arabic-reshaper==3.0.0
audioread==3.0.1
librosa==0.10.2.post1
numba==0.60.0
numpy==2.0.2
onnx==1.17.0
onnxruntime==1.20.1
pandas==2.2.3
python-bidi==0.6.3
soundfile==0.12.1
tokenizers==0.20.3
torch==2.4.1+cu124
torchaudio==2.4.1+cu124
torchvision==0.19.1+cu124
tqdm==4.66.5
transformers==4.46.3
wheel==0.45.1
